xml-resources/web-service-references/LocalEspDAO/wsdl/localhost_8080/WSLucianeServidor/LocalEspDAO.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://DAO/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DAO/" name="LocalEspDAO">
<types>
<xsd:schema>
<xsd:import namespace="http://DAO/" schemaLocation="http://localhost:8080/WSLucianeServidor/LocalEspDAO?xsd=1"/>
</xsd:schema>
</types>
<message name="existeRegistroPorIdLocalEsp">
<part name="parameters" element="tns:existeRegistroPorIdLocalEsp"/>
</message>
<message name="existeRegistroPorIdLocalEspResponse">
<part name="parameters" element="tns:existeRegistroPorIdLocalEspResponse"/>
</message>
<message name="atualizarLocalEsp">
<part name="parameters" element="tns:atualizarLocalEsp"/>
</message>
<message name="atualizarLocalEspResponse">
<part name="parameters" element="tns:atualizarLocalEspResponse"/>
</message>
<message name="consultarEspecialidadePorID">
<part name="parameters" element="tns:consultarEspecialidadePorID"/>
</message>
<message name="consultarEspecialidadePorIDResponse">
<part name="parameters" element="tns:consultarEspecialidadePorIDResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="inserirLocalEsp">
<part name="parameters" element="tns:inserirLocalEsp"/>
</message>
<message name="inserirLocalEspResponse">
<part name="parameters" element="tns:inserirLocalEspResponse"/>
</message>
<message name="deleteLocalEsp">
<part name="parameters" element="tns:deleteLocalEsp"/>
</message>
<message name="deleteLocalEspResponse">
<part name="parameters" element="tns:deleteLocalEspResponse"/>
</message>
<portType name="LocalEspDAO">
<operation name="existeRegistroPorIdLocalEsp">
<input wsam:Action="http://DAO/LocalEspDAO/existeRegistroPorIdLocalEspRequest" message="tns:existeRegistroPorIdLocalEsp"/>
<output wsam:Action="http://DAO/LocalEspDAO/existeRegistroPorIdLocalEspResponse" message="tns:existeRegistroPorIdLocalEspResponse"/>
</operation>
<operation name="atualizarLocalEsp">
<input wsam:Action="http://DAO/LocalEspDAO/atualizarLocalEspRequest" message="tns:atualizarLocalEsp"/>
<output wsam:Action="http://DAO/LocalEspDAO/atualizarLocalEspResponse" message="tns:atualizarLocalEspResponse"/>
</operation>
<operation name="consultarEspecialidadePorID">
<input wsam:Action="http://DAO/LocalEspDAO/consultarEspecialidadePorIDRequest" message="tns:consultarEspecialidadePorID"/>
<output wsam:Action="http://DAO/LocalEspDAO/consultarEspecialidadePorIDResponse" message="tns:consultarEspecialidadePorIDResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://DAO/LocalEspDAO/helloRequest" message="tns:hello"/>
<output wsam:Action="http://DAO/LocalEspDAO/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="inserirLocalEsp">
<input wsam:Action="http://DAO/LocalEspDAO/inserirLocalEspRequest" message="tns:inserirLocalEsp"/>
<output wsam:Action="http://DAO/LocalEspDAO/inserirLocalEspResponse" message="tns:inserirLocalEspResponse"/>
</operation>
<operation name="deleteLocalEsp">
<input wsam:Action="http://DAO/LocalEspDAO/deleteLocalEspRequest" message="tns:deleteLocalEsp"/>
<output wsam:Action="http://DAO/LocalEspDAO/deleteLocalEspResponse" message="tns:deleteLocalEspResponse"/>
</operation>
</portType>
<binding name="LocalEspDAOPortBinding" type="tns:LocalEspDAO">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="existeRegistroPorIdLocalEsp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarLocalEsp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarEspecialidadePorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirLocalEsp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteLocalEsp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LocalEspDAO">
<port name="LocalEspDAOPort" binding="tns:LocalEspDAOPortBinding">
<soap:address location="http://localhost:8080/WSLucianeServidor/LocalEspDAO"/>
</port>
</service>
</definitions>