src/META-INF/wsdl/localhost_8080/WSLucianeServidor/EspecializacaoDAO.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://DAO/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DAO/" name="EspecializacaoDAO">
<types>
<xsd:schema>
<xsd:import namespace="http://DAO/" schemaLocation="http://localhost:8080/WSLucianeServidor/EspecializacaoDAO?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteEspecializacao">
<part name="parameters" element="tns:deleteEspecializacao"/>
</message>
<message name="deleteEspecializacaoResponse">
<part name="parameters" element="tns:deleteEspecializacaoResponse"/>
</message>
<message name="atualizarEspecializacao">
<part name="parameters" element="tns:atualizarEspecializacao"/>
</message>
<message name="atualizarEspecializacaoResponse">
<part name="parameters" element="tns:atualizarEspecializacaoResponse"/>
</message>
<message name="inserirEspecializacao">
<part name="parameters" element="tns:inserirEspecializacao"/>
</message>
<message name="inserirEspecializacaoResponse">
<part name="parameters" element="tns:inserirEspecializacaoResponse"/>
</message>
<message name="consultarEspecializacaoPorID">
<part name="parameters" element="tns:consultarEspecializacaoPorID"/>
</message>
<message name="consultarEspecializacaoPorIDResponse">
<part name="parameters" element="tns:consultarEspecializacaoPorIDResponse"/>
</message>
<message name="existeRegistroPorIdEspecializacao">
<part name="parameters" element="tns:existeRegistroPorIdEspecializacao"/>
</message>
<message name="existeRegistroPorIdEspecializacaoResponse">
<part name="parameters" element="tns:existeRegistroPorIdEspecializacaoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="EspecializacaoDAO">
<operation name="deleteEspecializacao">
<input wsam:Action="http://DAO/EspecializacaoDAO/deleteEspecializacaoRequest" message="tns:deleteEspecializacao"/>
<output wsam:Action="http://DAO/EspecializacaoDAO/deleteEspecializacaoResponse" message="tns:deleteEspecializacaoResponse"/>
</operation>
<operation name="atualizarEspecializacao">
<input wsam:Action="http://DAO/EspecializacaoDAO/atualizarEspecializacaoRequest" message="tns:atualizarEspecializacao"/>
<output wsam:Action="http://DAO/EspecializacaoDAO/atualizarEspecializacaoResponse" message="tns:atualizarEspecializacaoResponse"/>
</operation>
<operation name="inserirEspecializacao">
<input wsam:Action="http://DAO/EspecializacaoDAO/inserirEspecializacaoRequest" message="tns:inserirEspecializacao"/>
<output wsam:Action="http://DAO/EspecializacaoDAO/inserirEspecializacaoResponse" message="tns:inserirEspecializacaoResponse"/>
</operation>
<operation name="consultarEspecializacaoPorID">
<input wsam:Action="http://DAO/EspecializacaoDAO/consultarEspecializacaoPorIDRequest" message="tns:consultarEspecializacaoPorID"/>
<output wsam:Action="http://DAO/EspecializacaoDAO/consultarEspecializacaoPorIDResponse" message="tns:consultarEspecializacaoPorIDResponse"/>
</operation>
<operation name="existeRegistroPorIdEspecializacao">
<input wsam:Action="http://DAO/EspecializacaoDAO/existeRegistroPorIdEspecializacaoRequest" message="tns:existeRegistroPorIdEspecializacao"/>
<output wsam:Action="http://DAO/EspecializacaoDAO/existeRegistroPorIdEspecializacaoResponse" message="tns:existeRegistroPorIdEspecializacaoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://DAO/EspecializacaoDAO/helloRequest" message="tns:hello"/>
<output wsam:Action="http://DAO/EspecializacaoDAO/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="EspecializacaoDAOPortBinding" type="tns:EspecializacaoDAO">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteEspecializacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarEspecializacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirEspecializacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarEspecializacaoPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeRegistroPorIdEspecializacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EspecializacaoDAO">
<port name="EspecializacaoDAOPort" binding="tns:EspecializacaoDAOPortBinding">
<soap:address location="http://localhost:8080/WSLucianeServidor/EspecializacaoDAO"/>
</port>
</service>
</definitions>