xml-resources/web-service-references/MedicoDAO/wsdl/localhost_8080/WSLucianeServidor/MedicoDAO.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://DAO/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DAO/" name="MedicoDAO">
<types>
<xsd:schema>
<xsd:import namespace="http://DAO/" schemaLocation="http://localhost:8080/WSLucianeServidor/MedicoDAO?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarMedicoPorCRM">
<part name="parameters" element="tns:consultarMedicoPorCRM"/>
</message>
<message name="consultarMedicoPorCRMResponse">
<part name="parameters" element="tns:consultarMedicoPorCRMResponse"/>
</message>
<message name="existeRegistroPorCpf">
<part name="parameters" element="tns:existeRegistroPorCpf"/>
</message>
<message name="existeRegistroPorCpfResponse">
<part name="parameters" element="tns:existeRegistroPorCpfResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="inserirMedico">
<part name="parameters" element="tns:inserirMedico"/>
</message>
<message name="inserirMedicoResponse">
<part name="parameters" element="tns:inserirMedicoResponse"/>
</message>
<message name="deleteMedico">
<part name="parameters" element="tns:deleteMedico"/>
</message>
<message name="deleteMedicoResponse">
<part name="parameters" element="tns:deleteMedicoResponse"/>
</message>
<message name="atualizarMedico">
<part name="parameters" element="tns:atualizarMedico"/>
</message>
<message name="atualizarMedicoResponse">
<part name="parameters" element="tns:atualizarMedicoResponse"/>
</message>
<portType name="MedicoDAO">
<operation name="consultarMedicoPorCRM">
<input wsam:Action="http://DAO/MedicoDAO/consultarMedicoPorCRMRequest" message="tns:consultarMedicoPorCRM"/>
<output wsam:Action="http://DAO/MedicoDAO/consultarMedicoPorCRMResponse" message="tns:consultarMedicoPorCRMResponse"/>
</operation>
<operation name="existeRegistroPorCpf">
<input wsam:Action="http://DAO/MedicoDAO/existeRegistroPorCpfRequest" message="tns:existeRegistroPorCpf"/>
<output wsam:Action="http://DAO/MedicoDAO/existeRegistroPorCpfResponse" message="tns:existeRegistroPorCpfResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://DAO/MedicoDAO/helloRequest" message="tns:hello"/>
<output wsam:Action="http://DAO/MedicoDAO/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="inserirMedico">
<input wsam:Action="http://DAO/MedicoDAO/inserirMedicoRequest" message="tns:inserirMedico"/>
<output wsam:Action="http://DAO/MedicoDAO/inserirMedicoResponse" message="tns:inserirMedicoResponse"/>
</operation>
<operation name="deleteMedico">
<input wsam:Action="http://DAO/MedicoDAO/deleteMedicoRequest" message="tns:deleteMedico"/>
<output wsam:Action="http://DAO/MedicoDAO/deleteMedicoResponse" message="tns:deleteMedicoResponse"/>
</operation>
<operation name="atualizarMedico">
<input wsam:Action="http://DAO/MedicoDAO/atualizarMedicoRequest" message="tns:atualizarMedico"/>
<output wsam:Action="http://DAO/MedicoDAO/atualizarMedicoResponse" message="tns:atualizarMedicoResponse"/>
</operation>
</portType>
<binding name="MedicoDAOPortBinding" type="tns:MedicoDAO">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarMedicoPorCRM">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeRegistroPorCpf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirMedico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMedico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarMedico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MedicoDAO">
<port name="MedicoDAOPort" binding="tns:MedicoDAOPortBinding">
<soap:address location="http://localhost:8080/WSLucianeServidor/MedicoDAO"/>
</port>
</service>
</definitions>